.DS_Store
DissertationDefs.aux
DissertationDefs.log
lc547-dissertation-blx.bib
lc547-dissertation.aux
lc547-dissertation.bbl
lc547-dissertation.blg
lc547-dissertation.lof
lc547-dissertation.log
lc547-dissertation.lot
lc547-dissertation.out
lc547-dissertation.run.xml
lc547-dissertation.synctex.gz
lc547-dissertation.toc
texput.log

